*.I[12]
*.[EIOX]
*.bak
*.gcda
*.gcno
*.exe
*.o
*.a
*/.deps/
*~
._bootmp
.gdb-history
.kludge-stamp
.version
/autom4te.cache
/ChangeLog
/INSTALL
/autoscan.log
/config.log
/config.status
/stamp-h1
/src/vls
/vls-*.tar.gz
/vls-*.tar.gz.sig
ID
Makefile
TAGS
THANKS
