*.I[12]
*.[EIOX]
*.bak
*.gcda
*.gcno
*.exe
*.o
*.a
*/.deps/
*~
._bootmp
.gdb-history
.kludge-stamp
.version
/ChangeLog
/INSTALL
/autoscan.log
/compile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/src/vls
/vls-*.tar.gz
/vls-*.tar.gz.sig
ID
Makefile
Makefile.in
TAGS
THANKS
